<h1>Eat Da Burger!</h1>

<h3>All Da Burgers:</h3>

<div class="fresh">
    <ul>
        {{#each burgersToRender}}
            {{#unless devoured}}
                <li>{{this.name}}</li>
                <button class="devour" data-id="{{this.id}}">Devour It!</button>
            {{/unless}}
        {{/each}}
    </ul>
</div>

<div class="devoured">
    <h3>Already Gone!</h3>
    <ul>
        {{#each burgersToRender}}
            {{#if devoured}}
                <li>{{this.name}}</li>
            {{/if}}
        {{/each}}
    </ul>
</div>

<div class="new-burger">
    <h3>Make a New Burger</h3>
    <form>
        <input id="burger-name" placeholder="Burger Name" />
        <button class="submit">Make</button>
    </form>
</div>