body {
    background-color: #fff;
    font-family: sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    color: #1f1300;
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
}

h3 {
    padding: 0 1em;
}

.fresh ul {
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
}

.devoured ul {
    justify-content: center;
}

li {
    font-family: "Menlo", monospace;
    font-size: 1rem;
    margin-bottom: .75em;
}

.fresh li {
    width: 45%;
}

.devoured li {
    color: #f1683a;
}

.new-burger {
    display: flex;
    flex-flow: row wrap;
}

.new-burger form {
    text-align: center;
    width: 100%;
}

.new-burger input {
    font-size: 1rem;
    line-height: 1.5em;
    width: 12em;
}

button {
    background-color: #ffc15e;
    border: none;
    border-radius: 1em;
    font-size: 1rem;
    line-height: 1.5em;
    height: 1.5em;
}

button.devour {
    width: 6em;
}

button.submit {
    width: 3.5em;
}

@media(min-width: 768px) {
    .fresh ul {
        width: 45%;
    }
}

@media(min-width: 1200px) {
    .fresh ul {
        width: 30%;
    }
}